<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <img src="assets/images/app_logo.png" width="100px" />
          <h1>QuickRide</h1>
          <form role="form" [formGroup]="passwordResetForm">
              <div class="form-content">
                  <div class="form-group"  matTooltip="Enter Phone Number">
                      <input type="text" formControlName="phone"
                       class="form-control input-underline input-lg"
                       id="phone"
                       placeholder="Phone"


                       (keypress)="keyPress($event)" minlength=10 maxlength=10>
                  </div>



              </div>
              <a class="btn rounded-btn" (click)="resetPassword()">RESET PASSWORD</a>



          </form>
      </div>
  </div>
</div>