#map {
    height: 200px;
  }
  .dashboard-label
  { float: left;
    clear: left;
    width: 100%;
    color:#36C657;
    font-size:small;
    //padding-bottom: 1em;
  }

  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}
.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #8d8585;
    color: rgb(7, 7, 7);
    border-radius: 0;
}
.input-underline:focus {
    border-bottom: 2px solid #36C657;
    box-shadow: none;
}
.header-image {
  background-image: url("/assets/images/default_male.png");
  background-size: cover;
}
.vehicle-image{
  background-image: url("/assets/images/hatchback.png");
  background-size: cover;
}
body {
  font-size: 12px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

div.pac-container {
  z-index: 1050 !important;
  width: 600px !important;
}
.dashboard-container {
  width: 600px;
  margin: 0 auto;
}
@media only screen and (max-width:767px) {
  .dashboard-container {
      width: auto;
      margin: 0 auto;
    }

  }
.startButtonclass {
  width: 100%;
}
.stButton {
  display: inline-block;
  width:70%;
  
}
.sButton1{
}
.cButton{
  display: inline-block;
  width:30%;
  outline: none;  
  border-radius:5px;
}

.cButton1 {
  background: #bdbdbd;
  color:#424242;
}

@media only screen and (max-width:767px) {
  .startButtonclass {
    width: 100%;
  }
  .stButton {
    display: inline-block;
    width:50%;
    
  }
  .sButton1{
    font-size:12px;
  }
  .cButton{
    display: inline-block;
    width:50%;
    outline: none;  
    border-radius:5px;
  }
  
  .cButton1 {
    background: #bdbdbd;
    color:#424242;
    font-size:12px;
  }

}


@media only screen and (max-width:467px) {
  .startButtonclass {
    width: 100%;
  }
  .stButton {
    display: inline-block;
    width:50%;
    
  }
  .sButton1{
    font-size:12px;
  }
  .cButton{
    display: inline-block;
    width:50%;
    outline: none;  
    border-radius:5px;
  }
  
  .cButton1 {
    background: #bdbdbd;
    color:#424242;
    font-size:12px;
  }

}