<div class="container" align="center">
  <p style="color:dimgray; font-size:20px; font-weight:400">Change Password</p>
  <div>
    <form role="form" [formGroup]="changePasswordForm">
      <div class="form-content">
        <div class="form-group" matTooltip="Enter Designation">
          <input type="password" placeholder="Current Password" class="form-control input-underline input-lg"
            id="currentPassword" formControlName="currentPassword" name="currentPassword">
        </div>
      </div>
      <div class="form-content">
        <div class="form-group" matTooltip="Enter Designation">
          <input type="password" placeholder="New Password" class="form-control input-underline input-lg" id="newPassword"
            formControlName="newPassword" name="newPassword">
        </div>
      </div>
      <div class="form-content">
        <div class="form-group" matTooltip="Enter Designation">
          <input type="password" placeholder="Confirm Password" class="form-control input-underline input-lg"
            id="confirmNewPassword" formControlName="confirmNewPassword" name="confirmNewPassword">
        </div>
      </div>

      <a class="btn rounded-btn" (click)="changePassword()">Change Password</a>
    </form>
  </div>
</div>