<div class="container" align="center">
  <p style="color:dimgray; font-size:20px; font-weight:400">ECOMETER</p>
  <br>
  <div class="text-justify" align="left">
    <p style="color:#000; font-size:20px; font-weight:700;">{{profile?.name}}</p>
    <p style="color:green; font-size:16px; font-weight:400">{{co2amount}} KG(s) of CO2 Reduced</p>
    <p style="color:#000; font-size:16px; font-weight:400;"><b>{{totalRides}}</b></p>
    <p style="color:#000; font-size:16px; font-weight:400;">Rides shared</p>
    <p style="color:#000; font-size:16px; font-weight:400;"><b>{{distance}} KM</b></p>
    <p style="color:#000; font-size:16px; font-weight:400;">Distance shared</p>
    <p style="color:#000; font-size:16px; font-weight:400;"><b>No NEW FRIENDS YET</b> </p>
    <p style="color:#000; font-size:16px; font-weight:400;">New friends made</p>
    <p style="color:#000; font-size:16px; font-weight:400;"><b>{{amount}}</b> INR</p>
    <p style="color:#000; font-size:16px; font-weight:400;">Amount saved</p>
  </div>
</div>