<mat-card *ngIf="!showEditVehicleForm">
    <mat-card-header>
        <h4>My Vehicles</h4>
        <hr>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <hr>
            <mat-list-item *ngFor="let vehicle of vehicleList">

                <h4 mat-line *ngIf="vehicle.status!='InActive'">
                    <strong>Name : </strong>
                    <p>{{vehicle.makeAndCategory}}</p>
                </h4>
                <br *ngIf="vehicle.status!='InActive'" />
                <h4 mat-line *ngIf="vehicle.status!='InActive'">
                    <strong>Model :</strong>
                    <p> {{vehicle.model}}</p>
                </h4>
                <br *ngIf="vehicle.status!='InActive'" />
                <h4 mat-line *ngIf="vehicle.status!='InActive'">
                    <strong>Reg No :</strong>
                    <p>{{vehicle.regno}}</p>
                </h4>
                <br *ngIf="vehicle.status!='InActive'" />

                <button *ngIf="vehicle.status!='InActive'" class="btn rounded-btn" matTooltip="Edit vehicle"
                    (click)="editVehicle(vehicleList)" style="margin:5px;background: white;"><i
                        class="fa fa-edit"></i></button>
                <button *ngIf="vehicle.status!='InActive'" class="btn rounded-btn" matTooltip="Delete vehicle"
                    (click)="deleteVehicle(vehicleList)" style="margin:5px;background: white"><i
                        class="fa fa-trash-o"></i></button>
                <button *ngIf="vehicle.status!='InActive'" class="btn rounded-btn" matTooltip="Set as default vehicle"
                    (click)="setDefaultVehicle(vehicleList)" style="margin:5px;background: white"><i
                        class="fa fa-car"></i></button>
                <h4 mat-line *ngIf="vehicle.status!='InActive'"></h4>
                <mat-divider *ngIf="vehicle.status!='InActive'"></mat-divider>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<div *ngIf="showEditVehicleForm">
    <app-edit-vehicle [vehicle]="currentVehicle" (showEditVehicleForm)="editCompleteStatus($event)">
    </app-edit-vehicle>
</div>